<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>c0880638</title>
</head>
<body>
 
       
    <h1>Index Page</h1>
    <!-- <input type="text" name="id" placeholder="Enter Id: "> -->
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti quibusdam, sapiente accusamus id sit nisi repellat, animi quam explicabo sunt laudantium doloremque sint molestiae assumenda officiis, tempore totam libero atque.</p>
   <a href="/admin">Admin</a>
   <br>
   <a href="/profile">Profile</a>
   <br>
   <a href="/user/c0880638">User</a>

<script>
// const sendData = () => {
//     const id= document.getElementById("id");
//     console.log('id--', id);
//     window.location.href= window.location.href + '/' + id;  
// }

</script>
</body>
</html>